nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left: 20px;
    padding: 0px 10px;
}
nav li a{
    text-decoration: none;
    color: salmon;
}
nav li:hover{
    background-color: blue;
    border-radius: 5px;
}
.downitems{
    display: none;
}
.downitems li{
    padding: 5px;
    margin: 0;
}
nav > ul > li:hover > ul{
    display: block;
    position: absolute;
    background-color: lightblue;
    padding: 0;
    border-radius: 5px;
}
nav > ul > li > ul > li:hover > ul{
    display: block;
    position: absolute;
    background-color: lightblue;
    padding: 0;
    border-radius: 5px;
}